/* Responsive Design mobile first approach */

/*
  Mobile
*/

@media (min-width: 577px) and (max-width: 810px) {
}
@media (min-width: 100px) and (max-width: 576px) {
  header .website-logo {
    height: auto !important;
  }
  .ministry .ministry-header h3 {
    font-size: 35px !important;
  }
  p {
    font-size: 18px !important;
  }
  .p-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .hero .hero-article {
    margin: 0 17px !important;
  }
  .detail-hero_content h2 {
    font-size: 20px !important;
  }

  /*.news {
    padding-bottom: 50px !important;
  }*/

  .detail-hero_content p {
    font-size: 16px !important;
  }

  .ministry p {
    margin-bottom: 47px !important;
  }

  .biography-content_img {
    margin-bottom: 39px !important;
  }

  .biography .biography-content_title h3 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }

  .biography .social-links {
    margin-top: 14px !important;
  }

  .biography-content_text {
    margin-top: 11px !important;
  }

  .biography .biography-content_title span {
    font-size: 16px !important;
  }
  .related-post-text h4 {
    font-size: 16px !important;
  }

  .search-result_item-middle {
    display: flex !important;
    justify-content: space-between !important;
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  section {
    margin-bottom: 0 !important;
  }

  .hero-article_title h1 {
    font-size: 18px !important;
  }

  .news-header_right {
    display: none;
  }

  .news-body {
    margin-top: 30px !important;
  }

  .news-header_left h2 {
    font-size: 20px !important;
  }

  .news-header_left::before {
    height: 25px !important;
  }

  .news-body_left {
    margin-bottom: 16px !important;
  }

  .news-body_left h3 {
    font-size: 20px !important;
  }

  .news-body_left span {
    font-size: 14px !important;
  }

  .news-body_right-items-text h3 {
    font-size: 18px !important;
  }

  .news-body_right-items-text span {
    font-size: 14px !important;
  }

  .news-body_right-items-text {
    margin-right: 0.5em !important;
  }

  .news-body_right-items:nth-child(2) {
    border: none !important;
  }

  .news-body_right-items {
    padding-top: 0 !important;
  }

  .admin-left h2 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }

  .admin-left::before {
    height: 25px !important;
  }

  .admin-left_hierarchy-post {
    flex: 1 !important;
  }

  .admin-left_hierarchy-post p {
    font-size: 18px;
  }

  .secretary-right {
    padding-left: 0 !important;
  }

  .secretary-right_title h2 {
    font-size: 20px !important;
  }

  .secretary-right_title::before {
    height: 25px !important;
  }

  .agency-partners_title h2 {
    font-size: 20px !important;
  }

  .agency-partners_title::before {
    height: 25px !important;
  }

  .items-img {
    margin-bottom: 16px !important;
  }

  .agency-partners_items .items-text p {
    margin: 16px 0 !important;
  }

  .quick-links {
    border-left: none !important;
    padding-left: 0 !important;
  }
  .other-hero .other-hero_content h2 {
    font-size: 33px !important;
    top: 121px !important;
    left: 6px !important;
  }

  .other-hero_content .content-left span {
    font-size: 128px !important;
    position: relative;
    top: 50px;
  }

  .national-heritage_item {
    padding-bottom: 23px !important;
  }

  .national-heritage_item img {
    margin-bottom: 23px !important;
  }

  .national-heritage_item h5 {
    font-size: 20px !important;
    margin-left: 14px !important;
  }

  .legal-notice .legal-notice_content h3 {
    font-size: 18px !important;
    margin-bottom: 23px !important;
  }

  .legal-notice .legal-notice_content p {
    font-size: 16px !important;
  }

  .other-hero .other-hero_content.legal-notice p {
    font-size: 14px !important;
    left: 7px !important;
  }

  .contact h3 {
    font-size: 20px !important;
  }

  .contact form {
    margin-top: 23px !important;
    margin-bottom: 68px !important;
  }

  .page-not-found_right span {
    font-size: 169.8px !important;
  }

  .page-not-found .page-not-found_left h3 {
    font-size: 32px !important;
  }

  .page-not-found .grid {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .page-not-found {
    margin-bottom: 82px !important;
  }

  .news.news-page .projets-pagination {
    margin-top: 36px !important;
    margin-bottom: 53px !important;
  }

  .single_news-title h2 {
    font-size: 20px !important;
  }

  .single_news-body {
    margin-top: 39px !important;
  }

  .single_news-body img {
    margin-bottom: 39px !important;
  }

  .single_news-body h3 {
    font-size: 16px !important;
    margin-bottom: 18px !important;
  }

  .related-posts_content {
    margin-top: 32px !important;
  }

  .single_news .single-news-footer {
    margin-bottom: 59px !important;
  }

  .detail-hero_content h2 {
    font-size: 31px;
  }

  .ouvrage-prod_details h5 {
    font-size: 18px !important;
  }

  .ouvrage-prod_details p {
    font-size: 16px !important;
  }

  .ouvrage-prod_details {
    margin-bottom: 54px !important;
  }

  .detail-project_item p {
    font-size: 16px !important;
  }

  .detail-project_item a {
    font-size: 16px !important;
  }

  .detail-project_item {
    margin-bottom: 35px !important;
  }

  .search-result_title h2 {
    font-size: 24px !important;
  }

  .search-result_title p {
    font-size: 16px !important;
    margin-bottom: 27px !important;
  }

  .search-result .search-result_hero span {
    font-size: 18px !important;
  }

  .search-result_content {
    margin-top: 14px !important;
  }

  .search-result_item {
    padding: 32px 0 !important;
  }

  .search-result_item-right h3 {
    font-size: 18px !important;
    margin-top: 11px !important;
  }

  .search-result_item-right p {
    margin-top: 11px !important;
  }

  .agency-partners_content {
    display: block !important;
    padding-bottom: 50px !important;
  }

  .news-body_content {
    display: block !important;
  }

  .public-politics_content {
    display: block !important;
  }
}

@media (min-width: 100px) and (max-width: 992px) {
  .search {
    display: none;
  }

  .news-body_left img {
    width: 100% !important;
  }

  .news-body_right {
    padding-left: 0 !important;
  }

  .admin-left_hierarchy {
    justify-content: space-between !important;
  }

  .secretary-left img {
    width: 100%;
  }

  .secretary-right {
    padding-bottom: 25px !important;
  }

  .ministry .ministry_member img {
    width: 100%;
  }

  .ministry_member {
    margin-bottom: 54px !important;
  }

  .national-heritage {
    padding-bottom: 73px !important;
  }

  .national-heritage_item.first-elem {
    margin-bottom: 43px;
  }

  .projects-head {
    margin-bottom: 35px !important;
  }

  .projects-head h2 {
    font-size: 24px !important;
  }

  .projects-body-item {
    margin-bottom: 33px;
  }

  .projects-body-item img {
    width: 100%;
  }

  .projects-head_nav li {
    margin-right: 0px !important;
  }

  .projects-body {
    margin-bottom: 44px !important;
  }

  .projets-pagination li a {
    margin-right: 0 !important;
  }

  .contact form {
    width: 100% !important;
  }

  .ouvrage-prod_content {
    display: block !important;
  }

  .grid-2 {
    display: block !important;
  }

  .grid-3 {
    display: block !important;
  }

  .related-posts_content {
    display: block !important;
  }

  .related-posts_content img {
    width: 100% !important;
  }

  .table-of-content {
    width: 100% !important;
    margin-bottom: 51px;
  }

  .table-of-content_body {
    padding-bottom: 0 !important;
  }

  .table-of-content_header p {
    font-size: 16px !important;
  }

  .search-result_item-left {
    display: block !important;
  }

  .search-result_item-left img {
    width: 100% !important;
    height: 100% !important;
  }

  .hero-article {
    left: 0 !important;
    bottom: 1.875rem !important;
  }

  .admin .grid {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .admin-left {
    margin-top: 26px !important;
  }

  .search-result_item-img {
    margin-bottom: 16px !important;
  }

  .secretary-left img {
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
  }

  .secretary-right {
    padding-left: 14px !important;
  }

  .agency-partners_items {
    display: block !important;
    margin-bottom: 74px !important;
    margin-right: 0 !important;
  }

  .agency-partners_items .items-text h3 {
    margin-top: 17px;
    margin-bottom: 18px !important;
  }

  .mb-53 {
    margin-bottom: 53px !important;
  }
}

/*git s
  tablette
*/

@media (min-width: 768px) and (max-width: 992px) {
  .news-body_right {
    padding-left: 0 !important;
  }
  .news-header_right p {
    margin-top: 0.3em;
  }

  .news-body_right-items {
    margin-top: 16px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .news-body_right-items:nth-child(2) {
    border: none !important;
  }

  .quick-links {
    border-left: none !important;
    padding-left: 0 !important;
  }
}

@media (min-width: 100px) and (max-width: 1199px) {
  nav .nav-item {
    display: none;
  }
  nav .search {
    display: none;
  }

  .mobile-menu {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .news-body_left h3 {
    font-size: 20px !important;
  }

  .news-body_left span {
    font-size: 14px !important;
  }
  .news-body_right h3 {
    font-size: 20px !important;
  }

  .news-body_right span {
    font-size: 14px !important;
  }

  .news-body_right {
    padding-left: 35px !important;
  }

  .secretary-left img {
    height: 100%;
  }

  .secretary-right .secretary-right_title h2 {
    font-size: 30px !important;
  }

  .secretary-right p {
    margin-bottom: 2em !important;
  }

  .page-not-found_right span {
    font-size: 249.8px !important;
  }

  .related-post-img {
    width: 100% !important;
  }
}

/* Fix header on very small screens */

@media (min-width: 100px) and (max-width: 299px) {
  .sidebar-header img {
    width: 150px;
  }
  .sidebar-body .nav li a {
    font-size: 15px !important;
  }

  .hero-article_title h1 {
    font-size: 10px !important;
  }

  .flag-bar {
    top: -36px !important;
  }

  .secretary-right .secretary-right_title h2,
  .admin-left h2 {
    font-size: 16px !important;
  }

  .secretary-right {
    padding-left: 0 !important;
  }

  .agency-partners_items .items-text h3 {
    font-size: 16px !important;
  }

  .news-body_left h3,
  .news-body_right .news-body_right-items .news-body_right-items-text h3,
  .agency-partners_title h2 {
    font-size: 16px !important;
  }

  .footer-adress li span,
  footer h3,
  .copyright {
    font-size: 16px !important;
  }

  .admin-left_hierarchy-post p {
    font-size: 15px !important;
  }
}
