@import url("./variables.css");

.btn-blue {
  background-color: var(--blue);
  padding: 15px;
  border-radius: 5px;
}

.btn-blue:focus {
  background-color: var(--blue) !important;
  padding: 15px !important;
  border-radius: 5px !important;
  text-decoration: none;
}

.projects-body .projets-pagination .active {
  background: var(--blue) !important;
  color: white !important;
}

.detail-hero {
  margin-top: 5em !important;
  background-color: rgb(39, 66, 133);
  padding-bottom: 76px !important;
}

.detail-hero_content {
  text-align: center;
}

.detail-hero_content h2 {
  color: white;
  font-size: 40px;
}

.detail-hero_content p {
  color: white !important;
}

.detail-hero p {
  margin-top: 32px;
  font-size: 24px;
  color: white;
}
