:root {
  /* Different colors used on the website */
  --bum: teal;
  --blue: rgba(39, 66, 133, 1);
  --red: rgba(233, 6, 43, 1);
  --yellow: rgba(255, 194, 0, 1);
  --skyblue: rgba(2, 140, 218, 1);
  --black: rgba(0, 0, 0, 1);
  --gray: #858585;
  --gray2: #e9e9e9;
  --white: rgba(255, 255, 255, 1);
  --border-top: 1px solid var(--gray2);
  --border-bottom: 1px solid var(--gray2);
  --block-bgc: rgba(2, 140, 218, 0.03);
  --gray3: rgba(122, 122, 122, 1);
  --detail-hero-bgc: #f8f8f8;
  --tb-content-header: rgba(223, 223, 223, 1);
  --tb-details-color: rgba(133, 133, 133, 1);
}
